<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/head.ejs") %>
<body> 
    <%- include ("./partials/header.ejs") %>
<ul>
    <% for(let i = 0; i < animals.length; i++) { %>
    <li>
        <a href="/rescue/<%=animals[i].id%>" >
            <img src="<%= animals[i].img%>" >
        </a> 
        <a href="/rescue/<%= animals[i].id %>/edit" type="button" class="edit">Edit</a>
        <form method="POST" action="/rescue/<%= animals[i].id%>?_method=DELETE">
            <input class="delete-button" type="submit" value="DELETE">
        </form>
    </li>
    <% } %> 
</ul>
<%- include ("./partials/footer.ejs") %>
</body>
</html>