<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/head.ejs") %>
<body> 
    <%- include ("./partials/header.ejs") %>
<ul>
    <% for(let i = 0; i < animals.length; i++) { %>
    <li>
        <a href="<%=animals[i].id%>" >
            <img src="<%= animals[i].img%>" >
        </a>
        <a href="<%= animals[i].id %>/edit" type="button" class="button is-dark button is-small button is-rounded">Edit</a>
        <form method="POST" action="<%= animals[i].id%>?_method=DELETE">
            <input type="submit" value="DELETE" class="button is-danger button is-small button is-rounded">
        </form>
    </li>
    <% } %> 
</ul>
<%- include ("./partials/footer.ejs") %>
</body>
</html>