<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rescue Show Page</title>
</head>
<body>
    <h1>
     <%= animal.name %>
    </h1>
    <img src="<%= animal.img%>" >
    <p>
       <%= animal.sex %> 
       <%= animal.size %>
       <%= animal.color %>
       <%= animal.breed %>
       <%= animal.lifeStage %>
    </p>
    <%- include ("./partials/footer.ejs") %>
</body>
</html>