<!DOCTYPE html>
<html lang="en">
    <%- include ("./partials/head.ejs") %>
<body>
    <%- include ("./partials/header.ejs") %>
    <h1 class="dog-name">
     <%= animal.name %>
    </h1>
    <div class="box">
    <img class="dog-pic " src="<%= animal.img%>">
        <h1 class="info"><%=animal.name%></h1>
       <h1 class="info"> Sex: <%= animal.sex %> </h1>
        <h1 class="info">Size:<%= animal.size %> </h1>
        <h1 class="info">Color: <%= animal.color %></h1>
        <h1 class="info">Breed: <%= animal.breed %></h1>
       <h1 class="info"> Life Stage: <%= animal.lifeStage %></h1>
       <% if (animal.isAdopted === false) { %>
        <form action="/rescue/myrescue/<%= animal.id%>" method="post">
          <input class="button is-black is-normal" type="submit" value="Adopt me" id="adopt-button">
        </form>
       <% }else{ %>
        <h1 class="info" id="adopt-button">is adopted</h1>
       <%} %>
    </div>
    <%- include ("./partials/footer.ejs") %>
</body>
</html>